<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Data User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <%- include('temp/nav') %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Edit Data Gamers</h2>
                
                
                <form action="/player/<%= data.id %>" method="post">
                    <div class="mb-3">
                      <label for="username" class="form-label">User Name (new)</label>
                      <input type="text" class="form-control" id="username" name="username" value="<%= data.username %>">
                    </div>

                    <!-- <div class="mb-3">
                      <label for="password" class="form-label">Password (new)</label>
                      <input type="text" class="form-control" id="password" value="<%= data.password %>">
                    </div> -->

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>